LOG_LEVEL=debug

APP_PORT=4000
ORIGIN=http://localhost:4200/

POSTGRES_HOST=example.ru
POSTGRES_USER=example
POSTGRES_PASSWORD=example
POSTGRES_DB=example

TG_BOT_TOKEN='123456:replace-me'
TG_PROJECT_GROUP_ID='-1000000000000'
TG_ADMINS=[0]