.tariffs
  display: flex
  flex-wrap: wrap
  justify-content: center
  gap: 1rem

  &__item
    width: 375px
    align-items: center

    &:hover
      cursor: default !important
      background-color: transparent !important

  &__price
    margin-top: 0.5rem
    font-size: x-large
