<ng-container>
  <h1 class="text-center">Пользовательское соглашение</h1>

  <h2>Термины и определения</h2>
  <p>
    <b>«Авторизация»</b> – процесс получения Пользователем доступа к Сайту, при котором производится проверка
    корректности введенных им Логина и Пароля.
  </p>

  <p>
    <b>«Акцепт»</b> – Регистрация Пользователя на Сайте, а также факт использования Пользователем Сайта в случае, если
    доступ к Сайту осуществляется без Регистрации.
  </p>
  <p>
    <b>«Логин»</b> – идентификатор Пользователя (например, действительный адрес электронной почты или номер мобильного
    телефона), указанный Пользователем в ходе регистрации на Сайте с целью дальнейшей идентификации Пользователя.
  </p>
  <p>
    <b>«Пароль»</b> – комбинация из не менее 6 (шести) символов латиницей, создаваемая Пользователем в ходе Регистрации
    и хранимая им в тайне от третьих лиц. Логин и Пароль используются Пользователем на Сайте для получения доступа к
    Учетной записи Пользователя.
  </p>
  <p>
    <b>«Пользователь»</b> – физическое/юридическое/самозанятое лицо, индивидуальный предприниматель, осуществляющее и
    имеющее доступ к Сайту посредством сети Интернет, и совершившее Акцепт Соглашения.
  </p>
  <p>
    <b>«Регистрация»</b> – процесс, включающий создание Учетной записи посредством заполнения и/или отправки
    Пользователем регистрационной формы на Сайте путем указания необходимых сведений, в том числе Логина и Пароля.
  </p>
  <p>
    <b>Учетная запись (Профиль)</b> – специальный подраздел Сайта, включающий в себя сведения, необходимые для
    идентификации Пользователя, и информацию для Авторизации, посредством которого Пользователем осуществляется
    пользование Сайтом и взаимодействие с Администратором.
  </p>
  <p>
    <b>«Интернет-сайт» или «Сайт»</b> - это совокупность программных и аппаратных средств для ЭВМ, автоматизированная
    информационная система, доступная в сети Интернет по сетевому адресу {{ siteUrl }}.
    Сайт принадлежит Администратору. Сайт включает в себя Сервис. Все положения, касающиеся Сайта, в равной мере
    относятся и к Сервису.
  </p>
  <p>
    <b>«Сервис»</b> – программное обеспечение, доступное на Сайте, позволяющее Пользователю использовать весь
    предусмотренный для него функционал. Сервис включает в себя интерфейс, программное обеспечение и иные элементы
    (инструменты, алгоритмы, способы), необходимые для надлежащего функционирования Сайта и позволяющие Пользователю
    осуществлять поиск и просмотр информации, а также любые иные возможности и функции, доступные на Сайте. Ни одно из
    положений Договора не может трактоваться как передача исключительного права на Сервис (его отдельные элементы)
    Пользователю.
  </p>
  <p>
    <b>«Тариф»</b> — установленный Администратором размер стоимости за Продукт Администратора, в виде различных тарифных
    планов, стоимость, функциональные возможности, объем и срок действия каждого из которых, выбираются Пользователем из
    списка, размещенного Администраторам на Сайте по адресу:
    <a tuiLink href="{{siteUrl}}prices" target="_blank">{{ siteUrl }}prices</a>
  </p>
  <p>
    <b>«Демо-доступ»</b> - демонстрационная (пробная) версия продукта, предоставляющая Пользователю возможность
    бесплатного тестирования Продукта с момента регистрации, включающая в себя безвозмездное создание 5 (пяти) Игр.
  </p>
  <p>
    <b>«Личный кабинет»</b> — это персональный раздел Пользователя на Онлайн-сервисе, доступ к которому есть только у
    Пользователя по его личным учетным данным, который создается в результате регистрации Пользователя на сайте
    соответствующего Онлайн-сервиса, и, используя который, Пользователь имеет возможность осуществлять автозаполнение
    данных в порядке, предусмотренном п.2.1 Соглашения.
  </p>
  <p>
    <b>«Онлайн-сервисы»</b> - интернет-сайты, доступ к которым обеспечивается посредством
    информационно-телекоммуникационной сети Интернет по доменным именам и/или по сетевым адресам, через которые, в
    соответствии с законодательством Российской Федерации, пользователям сети Интернет осуществляется продажа товаров
    и/или оказание услуг.
  </p>
  <p>
    <b>«Игра»</b> - интерфейс сайта, на котором отображено игровое поле, данные по игрокам, элементы управления
    и осуществляется игровой процесс
  </p>

  <h2>1. Общие положения</h2>
  <p>
    1.1 Настоящее Соглашение регулирует отношения между Пользователем и Иваном Ивановым, ИНН 0000000000
    (далее – «Администратор») по использованию Сайта «<a href="{{ siteUrl }}" target="_blank">{{ siteUrl }}</a>».
  </p>
  <p>
    1.2 Соглашение устанавливает общие условия использования Сайта и является публичной офертой в соответствии с п. 2
    ст. 437 Гражданского кодекса Российской Федерации. Датой заключения Соглашения признается дата Акцепта Соглашения.
  </p>
  <p>
    1.3 В случае несогласия с какими-либо условиями Соглашения Пользователь обязан немедленно прекратить использование
    Сайта, продукта Администратора в какой-либо форме.
  </p>
  <p>
    1.4 Соглашение, заключаемое путем Акцепта настоящей оферты, не требует двустороннего подписания и действительно в
    электронном виде.
  </p>
  <p>
    1.5 Все права на Сайт, Сервис и любые объект интеллектуальной собственности, находящиеся на Сайте принадлежат
    Администратору.
  </p>
  <p>
    1.6 Осуществляя Регистрацию, Пользователь соглашается на получение сообщений, электронных писем, содержащих
    организационно-техническую или иную информацию о Сайте, а также информационные материалы Администратора, о
    размещении новых статей и тематических подборках, появлении специальных предложений, проведении акций, а также иной
    информации, касающейся Сайта.
  </p>
  <p>
    1.7 Путем Акцепта Соглашения Пользователь выражает согласие на сбор и использование Администратором информации о
    Пользователе.
  </p>
  <p>
    1.8 Администратор оставляет за собой право изменять и (или) дополнять Соглашение в одностороннем порядке, при этом
    Пользователь считается надлежаще уведомленным при опубликовании измененной редакции Соглашения в сети Интернет по
    адресу: <a tuiLink href="{{ agreementUrl }}" target="_blank">{{ agreementUrl }}</a>. Стороны признают, что
    моментом Акцепта Пользователем любых изменений Соглашения, является 5 (пятый) календарный день с момента публикации
    любых изменений к Соглашению на Сайте, либо с даты вступления в силу изменений, прямо указанной на Сайте
    относительно таких изменений Соглашения. При этом Пользователь обязуется самостоятельно следить за изменениями
    условий Соглашения. Если Пользователь не согласен с изменениями настоящего Соглашения, то он должен немедленно
    удалить свою Учетную запись с Сайта и прекратить использование Сайта/Продукта Администратора, в противном случае
    продолжение использования Пользователем Сайта/Продукта Администратора означает, что Пользователь согласен с
    изменениями Соглашения и осуществил их Акцепт.
  </p>
  <p>
    1.9 Неотъемлемой частью Соглашения является: <a href="{{ policyUrl }}" target="_blank">Политика
    конфиденциальности</a> (Приложение № 1 к Соглашению).
  </p>

  <h2>2. Предмет соглашения</h2>

  <p>
    2.1 Администратор предоставляет Пользователю доступ к Сайту, и оказывает следующие виды услуг («Продукт
    Администратора/Продукты Администратора»):
  </p>
  <p>
    2.1.1 Посредством интерфейса предоставляется возможность проведения/участия в Играх, Администратор отображает
    актуальные данные игроков и их передвижений для всех участников Игры
  </p>
  <p>
    2.1.2 Предоставляет Пользователю доступ к актуальным статьям и полезной информации на Сайте;
  </p>
  <p>
    2.1.3 Оказывает иные услуги, предусмотренные Тарифами, опубликованными на Сайте.
  </p>
  <p>
    2.2 Объем услуг, предоставляемых Пользователю и их стоимость зависит от Тарифа, выбранного Пользователем. Перед
    началом использования соответствующего Продукта Администратора Пользователь обязуется внимательно ознакомиться с
    правилами и условиями получения соответствующей услуги по Тарифам. В случае несогласия с условиями получения
    соответствующей услуги, Пользователь должен воздержаться от использования соответствующего Продукта Администратора
    и/или Сайта.
  </p>
  <p>
    2.3 Для Пользователей на Сайте предоставляется возможность для пробного получения
    услуг Администратора, которая осуществляется на некоммерческих условиях в целях рекламирования и продвижения
    Продукта Администратора.
  </p>
  <p>
    2.4 Под действие настоящего Соглашения подпадают все существующие (реально функционирующие) на данный момент
    Продукты Администратора, а также любые их последующие модификации и появляющиеся в дальнейшем дополнительные услуги
    Администратора на Сайте.
  </p>
  <p>
    2.5 Администратор не несет ответственности за качество услуг, если на это повлияла работа и технические возможности
    Онлайн-сервисов, а также любых третьих лиц, которые связаны с оказываемыми Администратором услугами.
  </p>
  <p>
    2.6 Администратор приступает к предоставлению услуг (Продукта Администратора) после полной предоплаты, и отражения
    факта оплаты в системе учета платежей Администратора. После этого Пользователю предоставляется услуга в соответствии
    с выбранным им Тарифом.
  </p>

  <h2>3. Учетная запись пользователя</h2>

  <p>
    3.1 После Регистрации на Сайте Пользователь получает доступ к своей Учетной записи.
  </p>
  <p>
    3.2 С помощью Учетной записи Пользователь может:
  </p>
  <p>
    3.2.1 Заполнить свой профиль с информацией о себе;
  </p>
  <p>
    3.2.2 Получить историю оплат Пользователя на Сайте;
  </p>
  <p>
    3.3 В случае утери информации и/или невозможности войти в свою Учетную запись, Пользователь может ее восстановить
    путем обращения в службу поддержки.
<!--    через инструмент восстановления доступа путем ввода своего Логина, на который будет автоматически отправлено письмо-->
<!--    (сообщение) со ссылкой для восстановления пароля. Пользователь может также обратиться в службу поддержки Сайта.-->
  </p>

  <h2>4. Оплата услуг</h2>
  <p>
    4.1 Оплата Продукта Администратора производится Пользователем путем перечисления денежных средств на расчетный счет
    Администратора с указанием назначения платежа (если применимо).
  </p>
  <p>
    4.2 В зависимости от выбранного Пользователем Тарифа, стоимость Продукта Администратора представлена как оплата
    за определенный объем услуг. В связи с этим, Пользователем могут осуществляться разовые платежи, в зависимости
    от Тарифа, которые выберет Пользователь на Сайте.
    <br>Пользователю также предоставляется Демо-доступ, предоставляющий возможность безвозмездного
    тестирования Продукта.
  </p>
  <p>
    4.3 Администратор предлагает Пользователю в Сайте следующие способы оплаты:
    <br>- посредством банковских карт российской национальной платёжной системы «МИР», международных платежных систем
    VISA, MasterCard (обращаем Ваше внимание, что номер карты должен содержать только 16 символов);
    <br>- посредством систем быстрых платежей;
    <br>- другими способами, если такие способы будут указаны на Сайте.
  </p>
  <p>
    4.4 Виды и наименование, срок оказания, стоимость и иные характеристики предоставляемых Продуктов Администратора
    публикуются на Сайте в соответствующих разделах.
  </p>
  <p>
    4.5 Стоимость услуг может быть в одностороннем порядке изменена Администратором путем внесения изменений в
    информацию на Сайте, за исключением случаев уже оплаченных услуг (Продукта Администратора), которая остается
    неизменной только в отношении оплаченного объема/периода оказания услуг.
  </p>
  <p>
    4.6 Администратор приступает к оказанию услуг после получения от Пользователя предоплаты в размере 100% стоимости за
    соответствующие услуги/Продукт Администратора, в отношении которых предусмотрена их возмездность на условиях,
    указанных на Сайте.
  </p>
  <p>
    4.7 Все платежи, осуществляемые Пользователями в адрес Администратора в рамках Соглашения, включают в себя все
    применимые налоги.
  </p>
  <p>
    4.8 Администратор не несет ответственности за непоступление или задержку поступления денежных средств по причинам,
    не зависящим от него, в том числе сбоев в работе платежных систем, шлюзов оплаты, банков и иных лиц, вовлеченных в
    процесс оплаты.
  </p>
  <p>
    4.9 Обязанность Пользователя по оплате услуг считается выполненной с момента получения Администратором
    соответствующего подтверждения от оператора платежей и/или иного лица, привлеченного Администратором для целей
    обработки платежей.
  </p>
  <p>
    4.10 Комиссия оператора платежей, а также иных лиц, вовлеченных в процесс оплаты, оплачивается Пользователем
    самостоятельно и за свой счет.
  </p>
  <p>
    4.11 Администратор вправе проводить маркетинговые мероприятия (промо-акции), заключающиеся в предоставлении
    специальных условий предоставления услуг, в частности, но не исключительно, временного снижения стоимости, срока
    предоставления, состава услуг, предоставляемых Администратором по настоящему договору. Условия акций публикуются на
    Сайте.
  </p>
  <p>
    4.12 При ошибочном списании денежных средств, Пользователь может обратиться в службу технической поддержки Сайта.
    Возврат денежных средств осуществляется на ту банковскую карту, с которой был совершен платеж, на основании
    письменного требования Пользователя и подтверждения факта совершенной оплаты, в срок не более 60 (шестидесяти)
    календарных дней с даты обращения.
  </p>
  <p>
    4.13. Процедура оплаты и возврата происходят в соответствии с <a href="/payment-rules" target="_blank" tuiLink>Правилами
    оплаты и возврата</a>.
  </p>

  <h2>5. Права и обязанности сторон</h2>

  <p>5.1 Права Пользователя:</p>
  <p>
    5.1.1 Использовать в полной мере все функциональные возможности, предоставляемые Сайтом, при условии оплаты (если
    применимо) в соответствии с Тарифами.
  </p>
  <p>
    5.2 Обязанности Пользователя:
  </p>
  <p>
    5.2.1 Соблюдать условия Соглашения;
  </p>
  <p>
    5.2.2 Соблюдать нормы Российской Федерации и нормы международного права, а также права и законные интересы
    Администратора;
  </p>
  <p>
    5.2.3 Воздерживаться от осуществления действий, направленных на дестабилизацию работы Сайта, осуществления попыток
    несанкционированного доступа к Сайту, результатам интеллектуальной деятельности, размещенным на нем, подрыв
    репутации Сайта или бренда Администратора, организацию DDoS-атаки, а также от осуществления любых иных действий,
    нарушающих права Администратора и/или третьих лиц;
  </p>
  <p>
    5.2.4 Принимать надлежащие меры для обеспечения сохранности своей Учетной записи, Логина и Пароля. Пользователь
    несет ответственность за все действия, совершенные на Сайте под его Учетной записью (Логином и Паролем).
    Пользователь обязан незамедлительно уведомить Администратора о любых случаях доступа на Сайт третьими лицами под
    Учетной записью Пользователя. Пользователь не имеет права передавать, уступать, продавать, передавать в пользование
    и т.п. Учетную запись на Сайте третьим лицам без предварительного согласия Администратора;
  </p>
  <p>
    5.2.5 Предоставлять достоверную информацию при Регистрации Учетной записи Пользователя и поддерживать актуальность
    предоставленных данных в течение всего срока использования Сайта.
  </p>
  <p>
    5.2.6 Не размещать на Сайте информацию, распространение которой запрещено или ограничено любым законодательством
    Российской Федерации. В случае нарушения указанной обязанности Администратор вправе удалять такую информацию без
    согласия и уведомления Пользователя;
  </p>
  <p>
    5.2.7 Не осуществлять действий, направленных на получение доступа к Учетной записи третьих лиц, путем подбора логина
    и пароля, взлома или иных действий;
  </p>
  <p>
    5.2.8 Не выполнять обратный поиск, не отслеживать/пытаться отслеживать любую информацию о любом другом Пользователе
    Сайта;
  </p>
  <p>
    5.2.9 Самостоятельно следить за изменениями условий Соглашения;
  </p>
  <p>
    5.2.10 Не размещать без предварительного письменного согласия Администратора рекламную информацию в своих
    комментариях или использовать Сайт для рекламирования или иного стимулирования сбыта каких-либо товаров и/или услуг;
  </p>
  <p>
    5.2.11 Пользователь обязуется самостоятельно обеспечивать техническую возможность пользования Продуктами
    Администратора со своей стороны, а именно: надлежащий доступ в интернет, наличие программного обеспечения,
    совместимого с передачей информации от Администратора и других необходимых средств;
  </p>
  <p>
    5.2.12 Пользователь должен незамедлительно уведомить Администратора о несанкционированном использовании его Учётной
    записи или Пароля, или любом другом нарушении системы безопасности;
  </p>
  <p>
    5.2.13 Воздерживаться от размещения информации в текстовой или любой другой форме, которая унижает честь и
    достоинство, нарушает права и свободы других Пользователей и/или третьих лиц, разжигает межрелигиозную, межрасовую,
    межэтническую вражду, содержит нецензурную лексику, заведомо неправдивую и порочащую честь и достоинство информацию,
    нарушает права интеллектуальной собственности третьих лиц или любым иным способом нарушает условия Соглашения или
    законодательства Российской Федерации.
  </p>
  <p>
    5.3 Права Администратора:
  </p>
  <p>
    5.3.1 Администратор имеет право определять (изменять) состав Сайта, в том числе заменять Продукт Администратора,
    доступный в Сайте, его стоимость, структуру и внешний вид Сайта, разрешать и ограничивать доступ к Сайту в
    соответствии с Соглашением;
  </p>
  <p>
    5.3.2 В случае нарушения Пользователем условий Соглашения, Администратор имеет право приостанавливать, ограничивать
    или прекращать доступ такого Пользователя ко всем или к любому из разделов Сайта в одностороннем порядке, а также
    блокировать возможность использования Сайта (блокировать Авторизацию и/или IP-адреса, конкретное устройство
    Пользователя), его функционала (полностью или в части) для Пользователей в любое время, с предварительным
    уведомлением или без такового, не отвечая за любой вред, который может быть причинен Пользователю таким действием (в
    том числе расторгнуть Соглашение полностью, удалив Учетную запись Пользователя с Сайта);
  </p>
  <p>
    5.3.3 Администратор имеет право размещать рекламную и/или иную информацию в любом разделе Сайта;
  </p>
  <p>
    5.3.4 Администратор имеет право применять любые законные действия с целью недопущения несанкционированного доступа к
    Сайту, дестабилизации работы Сайта и других действий, нарушающих права и законные интересы Администратора;
  </p>
  <p>
    5.3.5 Администратор имеет право предусмотреть для Пользователей программы лояльности, акционные, а также
    поощрительные предложения, с более детальной информацией о которых можно ознакомиться в интерфейсе Сайта;
  </p>
  <p>
    5.3.6 Администратор оставляет за собой право по своему усмотрению изменять и дополнять требования к доступу к Сайту
    и прочее в любое время без какого-либо уведомления Пользователя;
  </p>
  <p>
    5.3.7 Администратор вправе привлекать любых третьих лиц для выполнения обязательств по Соглашению без согласования с
    Пользователем.
  </p>
  <p>
    5.4 Обязанности Администратора:
  </p>
  <p>
    5.4.1 Обеспечивать техническую возможность получения Пользователем доступа к Сайту, в порядке, определенном
    Соглашением.
  </p>

  <h2>6. Заверения и ответственность пользователя</h2>
  <p>
    6.1 Пользователь гарантирует, что при использовании Сайта не осуществляет и не будет осуществлять каких-либо
    действий, направленных на обход технических средств защиты от несанкционированного использования Сайта, а также
    любых других действий, направленных на изменение функциональных характеристик, дестабилизацию работы Сайта.
  </p>
  <p>
    6.2 Пользователь возмещает Администратору любые убытки, понесенные Администратором в связи с использованием
    Пользователем Сайта и/или нарушением Пользователем Соглашения и/или прав (в том числе исключительных прав) третьих
    лиц.
  </p>
  <p>
    6.3 Любое обязательство Пользователя не совершать какое-либо действие включает в себя обязательство не допускать
    совершения такого действия.
  </p>

  <h2>7. Ограничение ответственности администратора</h2>
  <p>
    7.1 Доступ к Сайту предоставляется Пользователю на условиях «КАК ЕСТЬ», в том виде, в котором он существует, и
    Администратор не дает гарантий или заверений как в отношении его использования, так и функционирования.
  </p>
  <p>
    7.2 Администратор не несет ответственности за любые ошибки, упущения, прерывания, удаление, дефекты, задержку в
    обработке или передаче данных, сбое линий связи, кражу, уничтожение или неправомерный доступ третьих лиц к
    результатам интеллектуальной деятельности, размещенным на Сайте, а также за любые последствия, возникшие в
    результате форс-мажорных обстоятельств (обстоятельств непреодолимой силы, возникших после заключения настоящего
    Соглашения, которые Администратор не мог ни предвидеть, ни предотвратить разумными мерами), в том числе если какие
    либо данные и/или информация Пользователя будет утеряна. Администратор не отвечает за любые технические сбои или
    иные проблемы любых телефонных сетей или служб, компьютерных систем, серверов или провайдеров, компьютерного или
    телефонного оборудования, программного обеспечения, сбоев сервисов электронной почты или скриптов по техническим
    причинам. Также Администратор не отвечает за соответствие Сайта целиком или его частей (служб) ожиданиям
    Пользователей, безошибочную и бесперебойную работу Сайта, прекращение доступа Пользователя к Сайту и результатам
    интеллектуальной деятельности, размещенным на Сайте, сохранность Логина и Пароля Пользователя, обеспечивающих доступ
    к отдельным службам Сайта, и за убытки, возникшие у Пользователей по причинам, связанным с техническими сбоями
    аппаратного или программного обеспечения.
  </p>
  <p>
    7.3 Администратор не несет ответственности за любой ущерб устройствам Пользователя или иного лица, мобильным
    устройствам, любому другому оборудованию или программному обеспечению, вызванный или связанный с использованием
    Сайта.
  </p>
  <p>
    7.4 Ни при каких обстоятельствах Администратор не несет ответственность перед Пользователем или любыми третьими
    лицами за любой прямой, косвенный, неумышленный ущерб, включая упущенную выгоду или потерянные данные, вред чести,
    достоинству или деловой репутации, вызванные в связи с использованием Сайта или результатов интеллектуальной
    деятельности, размещенных на Сайте.
  </p>
  <p>
    7.5 Администратор не несет ответственности перед Пользователем за любые задержки, прерывания при передаче данных или
    соединении, ущерб или потери, происходящие из-за дефектов в любом электронном или механическом оборудовании, не
    принадлежащем Администратору.
  </p>
  <p>
    7.6 Администратор не несет ответственности перед Пользователем или любыми третьими лицами за:
  </p>
  <p>
    7.6.1 действия других Пользователя на Сайте;
  </p>
  <p>
    7.6.2 за последствия применения информации, используемой/получаемой Пользователем в Сайте.
  </p>
  <p>
    7.7 Сайт может содержать ссылки на другие сайты в сети Интернет (сайты третьих лиц). Указанные третьи лица и их
    контент не проверяются Администратором на соответствие тем или иным требованиям (достоверности, полноты, законности
    и т.п.). Администратор не несет ответственность за любую информацию, материалы, размещенные на сайтах третьих лиц, к
    которым Пользователь получает доступ с использованием Сайта, в том числе, за любые мнения или утверждения,
    выраженные на сайтах третьих лиц, рекламу и т.п., а также за доступность таких сайтов или контента и последствия их
    использования Пользователем.
  </p>
  <p>
    7.8 Размещенная на Сайте ссылка (в любой форме) на любой сайт, продукт, услугу, любую информацию коммерческого или
    некоммерческого характера, не является одобрением или рекомендацией данных продуктов (услуг, деятельности, товаров)
    со стороны Администратора.
  </p>

  <h2>8. Технические требования</h2>
  <p>
    8.1 Качество работы Сайта зависит от скорости работы сети интернет и других критериев, в т. ч. модели используемого
    устройства Пользователя.
  </p>
  <p>
    8.2 Администратор предпринимает все зависящие от него действия для обеспечения бесперебойной работы Сайта, однако не
    несет ответственности за перерывы в его работе (в т.ч. аварийные, профилактические), за недостаточное качество или
    скорость предоставления данных, за полную или частичную утрату каких-либо данных, размещенных на Сайте, или за
    причинение любых других убытков, которые возникли или могут возникнуть при пользовании Сайта.
  </p>

  <h2>9. Интеллектуальная собственность</h2>
  <p>
    9.1 Все используемые и размещенные на Сайте результаты интеллектуальной деятельности (в том числе элементов
    визуального оформления Сайта, символики, текстов, графических изображений, иллюстраций, фото, видео, программ,
    музыки, и других объектов), а также сам Сервис являются объектами интеллектуальной собственности, принадлежащими
    Администратору, и охраняются в соответствии с законодательством Российской Федерации об интеллектуальной
    собственности, а также соответствующими международными договорами.
  </p>
  <p>
    9.2 Любые действия Пользователя, направленные на обход технических средств защиты Сайта согласно данному Соглашению,
    являются нарушением авторских прав, и Пользователь самостоятельно несет ответственность, предусмотренную
    законодательством Российской Федерации и нормами международного права за такие действия.
  </p>
  <p>
    9.3 Любое использование размещенных на Сайте результатов интеллектуальной деятельности без разрешения Администратора
    или законного правообладателя соответствующих результатов интеллектуальной деятельности является незаконным и может
    послужить причиной для судебного разбирательства и привлечения нарушителей к ответственности в соответствии с
    действующим законодательством Российской Федерации и нормами международного права.
  </p>

  <h2>10. Разрешение споров</h2>
  <p>
    10.1 Стороны согласились, что все споры, возникающие из отношений Администратора по Соглашению, должны разрешаться в
    компетентном суде Российской Федерации по месту нахождения Администратора. Применимое законодательство по Соглашению
    - право Российской Федерации.
  </p>
  <p>
    10.2 Стороны согласились, что соблюдение досудебного претензионного порядка урегулирования споров является
    обязательным при обращении в судебные органы. Срок ответа на претензию не превышает 10 (десяти) рабочих дней.
  </p>

  <h2>11. Заключительные положения. Расторжение соглашения</h2>
  <p>
    11.1 Заголовки в Соглашении приводятся для удобства и не влияют на толкование содержания статей Соглашения.
  </p>
  <p>
    11.2 Все термины, которые в тексте Соглашения пишутся с большой буквы, имеют те значения, которые приведены для них
    в данном Соглашении, и их значения распространяются на все формы как единственного, так и множественного числа.
    Слова «включая» и «в том числе» подразумевают также понятие «без ограничений».
  </p>
  <p>
    11.3 Соглашение заключается на неопределенный срок и распространяет свое действие на Пользователей с момента
    осуществления Акцепта Соглашения.
  </p>
  <p>
    11.4 Администратор оставляет за собой право без предварительного оповещения, а также без каких-либо обязательств
    перед Пользователем изменять или прекращать функционирование Сайта.
  </p>
  <p>
    11.5 Если по тем или иным причинам какие-либо из условий Соглашения являются недействительными или не имеющими
    юридической силы, это не оказывает влияния на действительность или применимость остальных условий Соглашения.
  </p>
  <p>
    11.6 Если Пользователь желает расторгнуть Соглашение с Администратором, удалить свою Учетную запись и отозвать свое
    согласие на обработку персональных данных, то необходимо обратиться в службу технической поддержки Сайта.
  </p>
  <p>
    11.7 Пользователь не вправе переуступать или передавать права и обязанности по Соглашению полностью или частично без
    предварительного письменного разрешения Администратора.
  </p>
  <p>
    11.8 Ничто в Соглашении не может пониматься как установление между Пользователем и Администратором агентских
    отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных
    отношений, прямо не предусмотренных Соглашением.
  </p>
  <p>
    11.9 Если Пользователь не согласен с условиями настоящего Соглашения, то он должен немедленно удалить свою Учетную
    запись с Сайта и прекратить использование Сайта/Продукта Администратора, в противном случае продолжение
    использования Пользователем Сайта/Продукта Администратора означает, что Пользователь согласен с условиями
    Соглашения. В случае, если Сайтом пользуется незарегистрированный Пользователь, то его использование Сайта
    предполагает, что такой незарегистрированный Пользователь также полностью согласен с условиями Соглашения, если он
    не согласен с каким-либо из положений Соглашения, то он должен незамедлительно прекратить использование Сайта.
  </p>
  <p>
    Дата публикации и вступления в силу: 08.03.2024 г.
  </p>
</ng-container>
