.settings-container
  width: 600px
  margin: 0 auto
  padding: 1rem

#tgConnection
  display: flex
  justify-content: center
  align-items: center

@media screen and (max-width: 768px)
  .settings-container
    width: max-content
