<ng-container>
  <h1 class="text-center">Правила оплаты и возврата</h1>

  <h2>Правила оплаты</h2>
  <p>
    Сервис приёма оплаты предоставлен системой <a href="https://yookassa.ru/" target="_blank">ЮKassa</a>
  </p>

  <p>
    Оказание услуг Администратором происходит после получения от Пользователя предоплаты в размере 100% стоимости за
    соответствующие услуги/Продукт Администратора. Процедура оплаты происходит следующим образом:
  </p>

  <ul class="tui-list">
    <li class="tui-list__item">
      Пользователь выбирает тариф на странице “Выбор тарифа” после нажатия на кнопку "Купить игры" в своем личном
      кабинете и при нажатии на кнопку “Купить” переходит на страницу “Оплата”.
    </li>
    <li class="tui-list__item">
      Услуга оплаты через интернет осуществляется в соответствии с Правилами национальной платёжной системы «МИР» и
      международных платежных систем Visa и MasterCard на принципах соблюдения конфиденциальности и безопасности
      совершения платежа, для чего используются самые современные методы проверки, шифрования и передачи данных по
      закрытым каналам связи.
    </li>
    <li class="tui-list__item">
      Ввод данных банковской карты осуществляется на защищенной платежной странице ЮKassa.
    </li>
    <li class="tui-list__item">
      На странице для ввода данных банковской карты потребуется ввести номер карты, имя владельца карты, срок действия
      карты, трёхзначный код безопасности (CVV2 для VISA или CVC2 для MasterCard). Все необходимые данные пропечатаны на
      самой карте. Трёхзначный код безопасности — это три цифры, находящиеся на обратной стороне карты. Далее
      Пользователь
      будет перенаправлены на страницу банка, выдавшего Пользователю карту, для ввода 3DSecure кода, который придет к
      Пользователю в СМС. Если 3DSecure код не пришел, то следует обратится в банк, выдавший Пользователю карту.
    </li>
    <li class="tui-list__item">
      После оплаты денежные средства поступают пользователю на счет аккаунта в течение 30 минут (для электронных
      платежей)
      и в течение 3-х рабочих дней, если это «Счёт на оплату для юридических лиц».
    </li>
  </ul>

  <h2>Случаи отказа в совершении платежа:</h2>

  <ul class="tui-list">
    <li class="tui-list__item">
      Банковская карта не предназначена для совершения платежей через интернет, о чем можно узнать, обратившись в Банк,
      выпустивший карту Пользователя;
    </li>
    <li class="tui-list__item">
      недостаточно средств для оплаты на банковской карте. Подробнее о наличии средств на банковской карте Пользователь
      может узнать, обратившись в банк, выпустивший банковскую карту;
    </li>
    <li class="tui-list__item">
      данные банковской карты введены неверно;
    </li>
    <li class="tui-list__item">
      истек срок действия банковской карты. Срок действия карты, как правило, указан на лицевой стороне карты (это месяц
      и
      год, до которого действительна карта). Подробнее о сроке действия карты Пользователь может узнать, обратившись в
      банк,
      выпустивший банковскую карту.
    </li>
  </ul>

  <h2>Правила возврата</h2>

  <p>
    При оплате картами возврат наличными денежными средствами не допускается. Порядок возврата регулируется правилами
    национальной платежной системы и международных платежных систем.
  </p>

  <p>
    Администратор предоставляет демо-доступ сразу после регистрации для того, чтобы Пользователь мог
    оценить качество сервиса. Оплата тарифа означает, что Пользователь удовлетворен качеством сервиса.
  </p>

  <p>
    Денежные средства подлежат возврату в случае ошибочного перечисления или дублирования платежа. В иных случаях
    возврат
    стоимости оплаченных, но не предоставленных услуг производится по собственному усмотрению.
  </p>

  <p>
    Возврат ошибочного платежа возможен только в том случае, если Пользователь не воспользовался услугой.
  </p>

  <p>
    Для возврата денежных средств на банковскую карту необходимо заполнить «Заявление о возврате денежных средств» с
    указанием причины, предоставить копию паспорта (для физических лиц) и чек или квитанцию о списании денежных средств.
    Данное заявление и документы необходимо направить на электронную почту: <a href="mailto:billing@example.com"
                                                                               target="_blank"
                                                                               tuiLink>billing&#64;example.com</a>
  </p>

  <p>
    Период рассмотрения заявки — 7 (семь) дней с даты отправки запроса.
  </p>

  <p>
    Возврат денежных средств будет осуществлен на счет Пользователя в течение 21 (двадцати одного) рабочего дня со дня
    получения «Заявления о возврате денежных средств» Администратором.
  </p>

  <p>
    Администратор оставляет за собой право не производить возврат денежных средств, если личный кабинет Пользователя был
    заблокирован или удален.
  </p>
</ng-container>
