<ng-container *ngIf="!emailSend">
  <div class="form-container">
    <div *ngIf="resetToken else emailFormTemplate">
      <h1 class="text-center">Изменение пароля</h1>

      <form
        (ngSubmit)="onSubmitChangePass()"
        [formGroup]="resetPassForm"
        id="resetPassForm"
      >
        <input [hidden]="true" formControlName="resetToken">

        <div class="tui-form__row">
          <tui-input-password
            formControlName="password"
          >
            Новый пароль
            <span class="tui-required"></span>
          </tui-input-password>

          <tui-error
            [error]="[] | tuiFieldError | async"
            formControlName="password"
          ></tui-error>
        </div>

        <div class="tui-form__row">
          <tui-input-password
            formControlName="confirmPassword"
          >
            Подтвердите пароль
            <span class="tui-required"></span>
          </tui-input-password>

          <tui-error
            [error]="[] | tuiFieldError | async"
            formControlName="confirmPassword"
          ></tui-error>
        </div>

        <div class="tui-form__row text-center">
          <tui-loader [showLoader]="showLoader" [inheritColor]="true">
            <button
              appearance="primary"
              tuiButton
              [size]="'m'"
              type="submit"
            >
              Изменить
            </button>
          </tui-loader>
        </div>
      </form>
    </div>

    <ng-template #emailFormTemplate>
      <h1 class="text-center">Запрос восстановления пароля</h1>

      <form
        (ngSubmit)="onSubmitRequestChangePassForm()"
        [formGroup]="emailForm"
        id="requestChangePassForm"
      >
        <div class="tui-form__row">
          <tui-input formControlName="email">
            Email
            <input
              placeholder="Введите email"
              tuiTextfield
            />
            <span class="tui-required"></span>
          </tui-input>
          <tui-error
            [error]="[] | tuiFieldError | async"
            formControlName="email"
          ></tui-error>
        </div>

        <div class="tui-form__row text-center">
          <tui-loader [showLoader]="showLoader" [inheritColor]="true">
            <button
              appearance="primary"
              tuiButton
              [size]="'m'"
              type="submit"
            >
              Отправить
            </button>
          </tui-loader>
        </div>
      </form>
    </ng-template>
  </div>
</ng-container>

<ng-container *ngIf="emailSend">
  <tui-block-status>
    <tui-icon
      icon="'assets/logo_1.svg'"
      tuiSlot="top"
      class="image"
    />

    <h4>Письмо отправлено</h4>
    <p>
      Письмо со ссылкой для восстановления пароля отправлено на указанную почту.
      <br>При отсутствии письма в папке "Входящие", проверьте папку "Спам"
    </p>

    <button tuiButton appearance="primary" routerLink="/">
      На главную
    </button>
  </tui-block-status>
</ng-container>
