:host
  --tui-chart-0: #fa4c5c
  --tui-chart-1: #69b44c
  --tui-chart-2: #5b56fc
  --tui-chart-3: #fd9e48
  --tui-chart-4: #e85eff
  --tui-chart-categorical-00: #fa4c5c
  --tui-chart-categorical-01: #69b44c
  --tui-chart-categorical-02: #5b56fc
  --tui-chart-categorical-03: #fd9e48
  --tui-chart-categorical-04: #e85eff

tui-ring-chart a
  position: relative
  z-index: 1
