<ng-container>
  <h1 class="text-center">Правила и ход игры</h1>

  <hr>

  <section class="start">
    <img
      class="start__logo"
      src='assets/logo_1.svg'
      alt="Логотип"
    />

    <div class="start__content">
      <h2 class="text-center">У игры есть начало и конец</h2>

      <p>В начале игрок формулирует запрос, на который он хочет получить ответы.</p>

      <p>
        Чтобы войти в игру, нужно выкинуть шестёрку на игровом кубике. Это бывает не просто. Некоторые игроки могут так
        и не выкинуть число 6. Это говорит о том, запрос для игры, вероятней всего, следует переформулировать.
      </p>

      <p>
        После того, как игрок выкинул число 6, он перемещается на поле 1 – Рождение. В этот момент соединяются все 6
        элементов: вода, земля, огонь, воздух, эфир и кидающий кубик. Это значит, что игрок готов исследовать свою
        жизнь, готов принимать подсказки Вселенной. Далее Символ сразу перемещается на поле 6 — Иллюзия. Добро
        пожаловать в этот иллюзорный мир! Затем кубик бросают еще раз.
      </p>
    </div>
  </section>

  <hr>

  <section class="field">
    <div class="field__figure">
      <div>
        <strong>16</strong>
        <span>РЕВНОСТЬ</span>
      </div>
    </div>
    <div class="field__content">
      <h2 class="text-center">Поле</h2>
      <p>
        Игровое поле состоит из 72-х клеток. Каждая клетка соответствует состоянию, которое мы проживаем в жизни (гнев,
        зависть, ревность, радость, счастье…)
        Каждая клетка содержит в себе информацию, необходимое человеку сейчас для понимания и осознания какого-либо
        опыта.
      </p>
      <p>
        Игрока направляют на конкретную клетку до тех пор, пока он не поймет и не расшифрует ее для себя.
        Если игрок попал на поле, где есть начало стрелы, то он перемещается на то поле, где находится её остриё. Если
        же он попал на поле с изображением головы змеи, то он опускается на поле вниз до начала её хвоста.
      </p>
    </div>
  </section>

  <hr>

  <section class="end">
    <h2 class="text-center">Главное правило: игра должна быть закончена.</h2>

    <p>
      Игра заканчивается, когда игрок возвращается на клетку 68, что олицетворяет соединение человека с самим собой.
      Круг
      замкнулся. Откуда игра началась, там она и закачивается.
    </p>
    <p>
      Бывает ситуации, когда игрок проходит мимо этого поля окончания игры и попадает на поля 69, 70 или 71 - три
      первичных
      аспекта сознания. Перешагивание через клетку 68 - подарок для игрока. Возможность утвердиться в своих планах на
      жизнь.
    </p>
    <p>
      В таком случае нужно выбросить на кубике необходимое количество очков для возможности сделать ход. Если выпадает
      такое
      количество очков, которое ведет на поле 72, то игрок остается на месте. В конечном счете нужно оказаться на поле
      72,
      где находится голова змеи, опуститься на поле 51 – Земля, и продолжить игру.
    </p>
    <p>
      Игру можно закончить не только на поле 68. Если игрок чувствует, что достаточно понял то, что хочет сказать игра,
      можно просто закончить игру.
    </p>

    <p>
      <strong style="color: var(--tui-text-negative)'">Важно!</strong> Если решено закончить игру, не дойдя до её конца — нужно
      остановиться на том игровом поле,
      которое не вызывает
      отрицательных эмоций. Оно должно быть благоприятным для игрока и его игровой цели.
    </p>
  </section>

  <hr>

  <section class="final">
    <h2 class="text-center">Заключение</h2>
    <p>
      <i><strong>В игру нельзя выиграть или проиграть.</strong></i> Понимая суть и путь трансформации - победа. Цель игры -
      помочь тебе
      освободиться
      от идентификаций и стать лучше. Игра закончится тогда, когда ты вернешься к себе настоящему.
    </p>

    <p>
      <i>
        <strong>P.S.</strong> Поскольку игра с каждым игроком носит всегда уникальный индивидуальный подход, то
        проводник , сопровождающий
        игру и следя за ее ходом, может уже в процессе вносить свои коррективы ведения игры, в зависимости от ситуации.
      </i>
    </p>
  </section>

</ng-container>
