.table
  width: 100%

table, th, td
  //white-space: nowrap
  border-collapse: collapse
  border: 1px solid var(--tui-base-04)

table
  & th, td
    padding: 0.5rem

.tui-list__item:before
  contain: none
  display: none

