<ng-container>
  <tui-table-pagination
    *ngIf="users?.length !== 0"
    (paginationChange)="changePage($event)"
    [page]="currentPage"
    [size]="pageSize"
    [total]="totalItems"
  ></tui-table-pagination>

  <tui-scrollbar>
    <table
      tuiTable
      class="cells-table"
    >
      <thead>
      <tr>
        <th tuiTh [resizable]="true">ID</th>
        <th tuiTh [resizable]="true">Логин</th>
        <th tuiTh [resizable]="true">Роль</th>
        <th tuiTh [resizable]="true">Email</th>
        <th tuiTh [resizable]="true">ФИО</th>
        <th tuiTh [resizable]="true">Действия</th>
      </tr>
      </thead>
      <tbody tuiTbody>
      <tr *ngFor="let user of users">
        <td tuiTd>{{ user.id }}</td>
        <td tuiTd>{{ user.username }}</td>
        <td tuiTd>{{ user.role }}</td>
        <td tuiTd>{{ user.email }}</td>
        <td tuiTd>{{ user.firstName }} {{ user.lastName }}</td>
        <td tuiTd>
          <button
            tuiIconButton
            appearance="warning"
            iconStart="@tui.user-round-pen"
            type="button"
            (click)="showDialog(user.id)"
          >
            Редактировать
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </tui-scrollbar>
</ng-container>

<ng-template
  [tuiDialogOptions]="{label: 'Обновление пользователя', size: 'fullscreen'}"
  [(tuiDialog)]="showUpdateUserDialog"
>
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="updateUserForm"
  >
    <div tuiGroup>
      <div>
        <tui-input
          formControlName="firstName"
          class="tui-group__inherit-item"
        >
          Имя
          <input
            placeholder="Введите имя"
            tuiTextfieldLegacy
          />
        </tui-input>
        <tui-error
          [error]="[] | tuiFieldError | async"
          formControlName="firstName"
        ></tui-error>
      </div>
      <div>
        <tui-input
          formControlName="lastName"
          class="tui-group__inherit-item"
        >
          Фамилия
          <input
            placeholder="Введите фамилию"
            tuiTextfieldLegacy
          />
        </tui-input>
        <tui-error
          [error]="[] | tuiFieldError | async"
          formControlName="lastName"
        ></tui-error>
      </div>
    </div>
    <div class="tui-form__row">
      <tui-input formControlName="email">
        Email
        <input
          placeholder="Введите email"
          tuiTextfieldLegacy
        />
      </tui-input>
      <tui-error
        [error]="[] | tuiFieldError | async"
        formControlName="email"
      ></tui-error>
    </div>

    <div class="tui-form__row">
      <tui-select formControlName="role"
      >
        Роль
        <tui-data-list-wrapper
          *tuiDataList
          [items]="items"
        ></tui-data-list-wrapper>
      </tui-select>    </div>

    <div class="tui-form__row buttons">
      <button
        appearance="primary"
        tuiButton
        [size]="'m'"
        type="submit"
      >
        Сохранить
      </button>
    </div>
  </form>

</ng-template>
