NODE_ENV=LOCAL
LOG_LEVEL=debug

POSTGRES_HOST=example.ru
POSTGRES_USER=example
POSTGRES_PASSWORD=example
POSTGRES_DB=example

JWT_SECRET=example

APP_PORT=3001
WS_PORT=3002

ORIGIN=http://example.example/
WS_ORIGIN=http://example.example/
TG_ORIGIN='http://bot:4000/tg'

MAIL_HOST=smtp.example.com
MAIL_PORT=2525
MAIL_USER=example@example.ru
MAIL_PASS=example
MAIL_SECURE=true

YOOMONEY='example:example'
YOOMONEY_API='https://api.yookassa.ru/v3'

# Technical
RESET_PASS_EXPIRATION=30