<footer>
  <div class="row">
    <a routerLink="/rules" tuiLink>Правила и ход игры</a>
    <a routerLink="/help" tuiLink>Помощь</a>
    <a routerLink="/contacts" tuiLink>Контакты</a>
    <a routerLink="/prices" tuiLink>Цены и тарифы</a>
  </div>
  <div class="row">
    <a routerLink="/policy" tuiLink>Политика конфиденциальности</a>
    <a routerLink="/agreement" tuiLink>Пользовательское соглашение</a>
  </div>

  <div class="row">
    <strong>© 2023–2026 "Game Leela"</strong>
    <small>Demo portfolio project · <a href="https://example.com/" tuiLink>example.com</a></small>
  </div>
</footer>
